//padrões de modal
.modal-main-icon{ text-align: center}
.modal-message-impact{}
.modal-message-impact-title{ 
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 20px;
}
.modal-message-impact-subtitle{
	color: #fff;
	font-style: italic;
	font-weight: 100;
	font-size: 16px;
	margin-bottom: 20px;

}




//largura dos modais

.modal-dialog-small{width: 370px;}
.modal-dialog-medium{}
.modal-dialog-large{}








//especificidades
.ModalSelectProduct{
	.modal-content{
		background-color: #fff;
	}
}


/* ------- MODAL LOGIN ------- */

.modal-default{
	.modal-dialog{
		.modal-title{}
		.modal-content{
			.modal-header{

			}
				.modal-body{padding: 15px 40px;
					// .icon{
					// 	width: 130px;
					// 	height: 130px;
					// 	margin: 0 auto;
					// 	display: block;
					// }

				 }	
		}
	}

	.inverse{color: #fff;
		a{ color: #fff}
	}


	.brand-modal-box{padding: 40px 0 0}
	.brand-modal{ margin: 0 auto}
}





.modal-login {
	.modal-dialog { width: 480px;}
}





